 body {
    font-family: sans-serif;
}

form {
    display: flex;
    flex-direction: column;
    width: 300px;
}

label {
    margin-top: 10px;
}

input[type="text"] {
    margin-top: 5px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
}

input[type="date"] {
  font-family: Arial, sans-serif;
  font-size: 16px;
  padding: 6px 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
  background-color: #fff;
  color: #555;
}

button[type="submit"] {
    margin-top: 10px;
    padding: 5px;
    background-color: #008CBA;
    color: #fff;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

th, td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #008CBA;
    color: #fff;
}
