<!DOCTYPE html>
<html>
  <head>
    <title>Car Value Form</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
      <form method="POST" action="{{ url_for('hello.hello_route') }}">
        <h1 class="a11y-hidden">Enter Car Details:</h1>
        <label>Car Brand:</label>
          <input type="text" name="make" required>
        <br>
        <label>Car Model:</label>
          <input type="text" name="model" required>
        <br>
        <label>Year:</label>
          <input type="number" name="year" required>
        <br>
        <label>Mileage:</label>
          <input type="number" name="mileage" step="any">
        <br>
        <button type="submit">Submit</button>
      </form>
  </body>
</html>
